/* Глобальные стили */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-hover: #188ce8;
  --primary-white-color: #ffffff;
  --footer-color: #2f303a;
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --background-btn-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

/* Сброс стилей */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Шапка  */

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  cursor: pointer;

  color: var(--accent-color);
}

.logo-black {
  color: #000000;
}

.logo-white {
  color: var(--primary-white-color);
}

.nav-link,
.contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  color: var(--primary-text-color);
}

/* Герой */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--button-hover);
}

/* Преимущества */

.features {
  display: flex;
}

.features-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--title-text-color);
}

/* Команда */

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  color: var(--title-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
}

/* Футер */

.address {
  font-style: normal;
}

.address-map {
  color: var(--primary-white-color);
}

.address-link {
  color: var(--link-footer-color);
}

.footer,
.hero {
  background-color: var(--title-text-color);
}

/* Портфолио */

/* Фильтр */
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  cursor: pointer;

  color: var(--title-text-color);
  background-color: var(--background-btn-color);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Проекты */

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.87x;
}
