:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-hover: #188ce8;
  --primary-white-color: #ffffff;
  --footer-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1,71;
  letter-spacing: 0.03em;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.logo {
   font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height:31px;
color: var(--accent-color);
}

.logo-black {
   color: #000000;
}

.logo-white {
   color: var(--primary-white-color);
}

.features {
  display: flex;
}

.features-title {
  font-weight: 700;
  line-height: 1,14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.address {
  font-style: normal;
}
 .footer, .hero {
    background-color: var(--title-text-color);
 }